language: bash

before_install:
  - sudo apt-get -y install openvpn
addons:
  apt:
    update: true

matrix:
  allow_failures:
  include:

    - os: linux
      dist: bionic
      env: PATH=/usr/bin:/bin:./:/usr/local/bin:/usr/sbin
      script:
        - openvpn version
        - shellcheck --version
        - bash -c 'export SHELLCHECK_OPTS="-S warning -e SC2006"; shopt -s globstar; shellcheck easytls; echo "exit 0 always"'
        - sh op_test.sh -vv

#    - os: osx
#      osx_image: xcode10.1
#      script:
#        - openssl version
#        - sh op_test.sh -vv
