language: bash

before_install:
  - sudo apt-get -y install openvpn

#addons:
#  apt:
#    update: true

matrix:
  allow_failures:
  include:

    - os: linux
      dist: focal
      env: PATH=/usr/bin:/bin:./:/usr/local/bin:/usr/sbin
      script:
# OpenVPN fixed this after they found out ;-)
        - openvpn --version; echo "exit-code $?"; echo "exit 0 always (because openvpn --version does(did) not)"
        - shellcheck --version
        - bash -c 'export SHELLCHECK_OPTS="-S warning"; shellcheck easytls; echo "exit 0 always"'
        - bash -c 'export SHELLCHECK_OPTS="-S warning"; shellcheck easytls-cryptv2-verify.sh; echo "exit 0 always"'
        - bash -c 'export SHELLCHECK_OPTS="-S warning"; shellcheck easytls-cryptv2-client-connect.sh; echo "exit 0 always"'
        - sh easytls-op-test.sh

#    - os: osx
#      osx_image: xcode10.1
#      script:
#        - openssl version
#        - sh op_test.sh -vv
