language: bash

before_install:
  - sudo apt-get -y install openvpn

#addons:
#  apt:
#    update: true

matrix:
  allow_failures:
  include:

    - os: linux
      dist: focal
      env: PATH=/usr/bin:/bin:./:/usr/local/bin:/usr/sbin
      env: EASYTLS_REMOTE_CI=1
      env: TRAVIS_CI=1
      script:
# OpenVPN fixed this after they found out ;-)
        - openvpn --version; echo "exit-code $?"; echo "exit 0 always (because openvpn --version does(did) not)"
        - sh easytls-shellcheck.sh
        - sh easytls-op-test.sh

    - os: osx
      osx_image: xcode10.1
      script:
        - sh easytls-op-test.sh
