# For use with Easy-TLS and OpenSSL or LibreSSL

HOME					= .

####################################################################
[ ca ]
default_ca				= CA_default	# The default ca section

####################################################################
[ CA_default ]
# Comment out the following two lines for the traditional
# (and highly broken) format
name_opt 				= ca_default	# Subject Name options
cert_opt 				= ca_default	# Certificate field options

[ policy_anything ]
commonName		= supplied

####################################################################
[ req ]
default_bits			= 2048
distinguished_name		= req_distinguished_name
attributes				= req_attributes

# The extensions to add to the self signed cert
x509_extensions			= easytls

[ req_distinguished_name ]
commonName				= Common Name
commonName_max			= 64

[ req_attributes ]
challengePassword		= A challenge password
challengePassword_min	= 4
challengePassword_max	= 20

####################################################################
[ easytls ]
# Easy-TLS self-signed certificate
keyUsage 				= digitalSignature, keyEncipherment
basicConstraints 		= CA:true

# PKIX recommendation
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid:always,issuer

